{
	frankenphp {
		num_threads 1
		max_threads 10
	}
	order php_server before file_server
	http_port 7002
	auto_https off
	admin off
	log {
		output file /home/www/core/kick789/storage/logs/Caddy.log {
			roll_size 10mb
			roll_keep 5
			roll_keep_for 72h
		}
		level WARN
	}
}

:7001 {
	root * /home/www/core/kick789/public

	header {
		X-Forwarded-Proto https
	}

	@static {
		path_regexp static_files \.(css|png|jpg|jpeg|gif|svg|woff2?)$
	}

	@static_with_js {
		path_regexp static_with_js \.(js|css|png|jpg|jpeg|gif|svg|woff2?)$
		not path_regexp ^/lang-[a-z]{2}\.js$
	}

	handle @static_with_js {
		file_server
	}

	handle {
		php_server {
			try_files {path} /index.php
			root /home/www/core/kick789/public
		}
	}

	# Serve static files ปกติ (fallback)
	file_server
}
